body
{
  margin: 0;
  padding: 0;
}
a
{
  text-decoration: none!important;
}

button:hover,
button:focus {
  text-decoration: none!important;
  outline: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}


#sidebar {
  /*height: 100%;*/
  z-index: 2;
  min-width: 270px;
  max-width: 270px;
  background: #3445b4;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  /*position: fixed;*/
  /*overflow-x: hidden;*/
}
#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar.active {
  margin-left: -270px;
}

#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}

#sidebar h1 .logo {
  color: #fff;
}

#sidebar h1 .logo span {
  font-size: 14px;
  color: #44bef1;
  display: block;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
  color: #44bef1;
}

#sidebar ul li a:hover {
  color: #fff;
}

#sidebar ul li.active>a {
  background: transparent;
  color: #fff;
}

#sidebar .custom-menu {
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sidebar .custom-menu .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

#sidebar .custom-menu .btn i {
  margin-right: -40px;
  font-size: 14px;
}

#sidebar .custom-menu .btn.btn-primary {
  background: transparent;
  border-color: transparent;
}

#sidebar .custom-menu .btn.btn-primary:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #3445b4;
  border-radius: 10px;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
  background: transparent!important;
  border-color: transparent!important;
}


.btn.btn-primary {
  background: #3445b4;
  border-color: #3445b4;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #3445b4!important;
  border-color: #3445b4!important;
}